@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
:root {
  --gold: rgb(238, 238, 7);
  --beige: #e7e6cf;
  --black: rgb(29, 35, 35);
}

body {
  background-color: var(--black);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: x-large;
  color: var(--beige);
  text-align: center;
}

.profilePic {
  border-radius: 100px;
}




