@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
:root {
  --gold: rgb(238, 238, 7);
  --beige: #e7e6cf;
  --black: rgb(29, 35, 35);
}

body {
  margin: 0%;
  padding: 0%;
  line-height: 1.5;
  background-color: var(--black);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: x-large;
  color: var(--beige);
  text-align: center;
}

.profilePic {
  border-radius: 100px;
}

header {
	display: inline-block;
	justify-content: center;
	padding: 1rem;
	text-align: center;
}

h1{
  margin-top: -20px;
  border-bottom: solid;
  border-radius: 10px;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

footer{
  display: inline-block;
}

#about {
  display: inline-block;
  justify-content: center;
  border-bottom: solid;
  border-radius: 10px;
  inline-size: 1000px;
}

p {
  margin-top: 0px; 
}

textarea {
	width: 600px;
	height: 200px;
	padding: 5px;
}

.email{
  margin-right: 55px;
}

.card-body{
  display: inline-block;
  justify-content: center;
}

.projects {
  margin-right: 100px;
  padding: 30px;
  inline-size: 320px;
}

.image {
  max-width: 400px;
  max-height: 300px;
}

.links {
  color: var(--gold);
  margin-right: 8px;
  margin-left: 8px;
}

