@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap");
:root {
  --gold: rgb(238, 238, 7);
  --beige: #e7e6cf;
  --black: rgb(29, 35, 35);
  
}

body {
  margin: 0%;
  padding: 0%;
  line-height: 1.5;
  background-color: var(--black);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: x-large;
  /* font-weight: bold; */
  color: var(--beige);
  text-align: center;
}

/* about me styling, id used for each page as well */
#about {
  display: inline-block;
  justify-content: center;
  inline-size: 1000px;
  margin-bottom: 100px;
  /* font-weight: bold; */
}

.profilePic {
  margin-top: 20px;
  border-radius: 80px;
}

.title {
  margin-top: -8px;
  margin-bottom: 50px;
}


/* header/nav links styling */
header {
	display: inline-block;
	justify-content: center;
	padding: 1rem;
	text-align: center;
}

h1{
  margin-top: -35px;
  border-bottom: solid;
  border-radius: 20px;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  font-weight: bold;
}

.nav-links :hover{
  background-color: var(--beige);
  color: var(--black);
  border-radius: 5px;
  font-weight: bold;
}

/* footer styling */
footer{
  position: sticky;
  display: inline-block;
  border-top: solid;
  border-radius: 20px;
  inline-size: 1000px;
}

/* Contact component styling */
p {
  margin-top: 20px; 
}

textarea {
	width: 600px;
	height: 200px;
	padding: 5px;
}

.email{
  margin-right: 55px;
  color: var(--black);
}

.name{
  color: var(--black);
}


.message{
  color: var(--black);
}
#input-area{
  background-color: var(--beige);
  border-radius: 10px;
}

.submit-btn {
  background-color: var(--beige);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

.input-title{
  font-weight: bold;
  padding: 50px;
}

#contact-form{
  background-color: rgba(158, 158, 152, 0.466);
  border-radius: 10px;
  margin-bottom: 60px;
}

.email-link {
  color: var(--gold);
  margin-right: 8px;
  margin-left: 8px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Portfolio component styling */


.projects {
  margin-right: 100px;
  padding: 30px;
  inline-size: 320px;
}


.image {
  max-width: 350px;
  max-height: 300px;
  border-radius: 30px;
}

.links {
  color: var(--gold);
  margin-right: 8px;
  margin-left: 8px;
  font-weight: bold;
}

.links :hover{
  background-color: var(--beige);
  color: var(--black);
  border-radius: 5px;
  font-weight: bold;
}

/* Resume component styling */

ol li{
  display: inline-block;
  padding: 8px;
  margin-top: 1px;
  padding-right: 10px;
}

ol h3{
  margin-bottom: -10px;
  margin-right: 40px;
}

.resume{
  padding-top: 10px;
  padding-bottom: 40px;
}

.resume-title{
  margin-bottom: -70px;
  padding-bottom: 0px;
}

.download-btn{
  background-color: var(--gold);
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

.resume :hover{
  background-color: var(--beige);
  color: var(--black);
  border-radius: 5px;
  font-weight: bolder;
}
